:host {
  display: flex;
  justify-content: center;
  
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.data-actions {
  display: flex;
  flex-direction: row;
}

table {
  background-color: transparent;

  .slide-preview {
    display: flex;
    padding: 8px;
  }
  app-slide {
    width: 260px;
  }
}

mat-paginator {
  background-color: transparent;
}