:host {
  display: flex;
  justify-content: center;
  
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.data-actions {
  display: flex;
  flex-direction: row;
}

table {
  width: 100%;
  table-layout: fixed;

  background-color: transparent;
}

th, td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

mat-paginator {
  background-color: transparent;
}