<app-content>
  <header>
    <a mat-stroked-button routerLink="/">
      <mat-icon>arrow_back</mat-icon>
      Return
    </a>
    <a mat-flat-button routerLink="/slide/create">
      <mat-icon>add</mat-icon>
      Create
    </a>
  </header>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="markdown">
      <th mat-header-cell *matHeaderCellDef>Markdown</th>
      <td mat-cell *matCellDef="let element">{{ element.markdown }}</td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created at</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt.toLocaleString() }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div class="data-actions">
          <a
            mat-icon-button
            aria-label="Show slide details"
            [routerLink]="'/slide/' + element.id + '/edit'"
          >
            <mat-icon>edit</mat-icon>
          </a>
          <a
            mat-icon-button
            aria-label="Show slide details"
            [routerLink]="'/slide/' + element.id + '/show'"
          >
            <mat-icon>visibility</mat-icon>
          </a>
          <button
            mat-icon-button
            aria-label="Delete slide"
            (click)="handleDeleteSlide(element.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 15, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</app-content>
