header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0px;

  width: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  color: inherit;
  font-weight: 500;
  text-decoration: none;

  transition: 0.2s color;
}
.logo:hover {
  color: #005cbb;
  text-shadow: 0px 0px 1px #003264;
}
.logo mat-icon {
  width: 32px;
  height: 32px;
  font-size: 32px;
}
.links {
  display: flex;

  gap: 4px;
}