<app-content>
  <app-slideshow
    [slide]="slide"
    [showReturn]="false"
    [showFull]="false"
    [showGeneratePDF]="false"
    [enableKeyboard]="false"
  />
  <div class="actions">
    <!-- <a mat-stroked-button routerLink="/slide/list">
      <mat-icon>arrow_back</mat-icon>
      Return
    </a> -->
    <a mat-stroked-button [routerLink]="'/slide/' + slide.id + '/show'">
      <mat-icon>visibility</mat-icon>
      Present
    </a>
    <button
      mat-flat-button
      (click)="handleSaveSlide()"
      [disabled]="slide.markdown === markdown"
    >
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Markdown</mat-label>
    <textarea
      matInput
      [(ngModel)]="markdown"
      (ngModelChange)="markdownChange($event)"
      rows="15"
    ></textarea>
  </mat-form-field>
  <!-- <app-slide *ngFor="let slide of slides" [html]="slide" /> -->
</app-content>
