* {
  margin: 0;
  padding: 0;
  border: 0;

  box-sizing: border-box;
}

fieldset {
  width: 100%;
  padding: 16px;
  border: 2px solid black;
  border-radius: 4px;
}
ul,
ol {
  list-style-position: inside;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 16px 32px;

  background-color: #d7e3ff;
}

.remove-box {
  padding: 0px !important;
  margin: 0px !important;
  border: 0px !important;

  border-radius: 0px !important;

  .slide {
    border: 0px !important;
  }
}